@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary: #242424;
  --secondary: #f2f2f2;
  --week: #cecdcd;
  --accent: rgb(76, 0, 255);
}

body {
  font-family: "Quicksand", sans-serif;
  color: var(--primary);
  background: var(--secondary);
  margin: 30px 20vw;
}

h1 {
  margin: 2px 0;
}

#headInfo {
  margin: 20px 0;
}
#weeks_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
li {
  margin: 2px;
  width: calc(100% * (1 / 52) - 4px);
  aspect-ratio: 1 / 1;
  background-color: var(--week);
  border-radius: 50%;
  list-style: none;
  display: flex;
}

.highlight {
  background-color: var(--accent);
}

#item-0 {
  background-color: #f542b9;
}

@media only screen and (max-width: 1200px) {

  body {
    margin: 30px 10vw;
  }

  li {
    margin: 1px;
    width: calc(100% * (1 / 52) - 2px);
  }

}

@media only screen and (max-width: 700px) {

  body {
    margin: 30px 5vw;
  }

  li {
    margin: 1px;
    width: calc(100% * (1 / 52) - 2px);
  }

}